.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center
}

.nav-buttons button {
    width: 80px;
    height: 120px;
    font-size: 16px;
    margin: 5px;
}

.horizontal-nav-buttons {
    display: flex;
    gap: 8px;
}

.function-buttons {
    display: flex;
    justify-content: center;   
    flex-direction: row;
}

.function-buttons button {
    margin: 5px;
    height: 60px;
    width: 90px;
}

hr {
    margin: 40px auto;
}
